* {
    margin: 0px;
}

.main-title{
    background-color: black;
    text-align: center;
    color: white;
}

body{
    background-color: aquamarine;
}

li{
    margin: 30px;
    background-color: rgb(230, 196, 195);
    border: 2px solid;
    border-style: dotted;
    border-color: red;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    border-style:dashed;
    border-color: blue;
    margin: auto;
    text-align: center;
}

th {
    background-color: rgb(160, 160, 255);
}

td {
    background-color: rgb(204, 216, 216);
}

#cell-two{
    color: red;
}

.google-link {
    margin: 20px;
}

a:link{
    color: rgba(182, 0, 0, 0.705);
    text-decoration: none;
    font-weight: bold;
}






